
.gradle/8.5/checksums/

.gradle/8.5/dependencies-accessors/

*.bin

/build/
/cars/build
/offers/build
/cars/bin
/offers/bin

.gradle/8.5/executionHistory/

.gradle/

.idea/

.DS_Store

*.class

gradle/wrapper/
